# vscode ide config
.vscode/**

# vscode-test cache
.vscode-test/**

# build temporaries
out/**
**/*.map
**/*.ts
**/*.vsix

# sources
src/**

# tool config scripts
tsconfig.json
eslint.config.mjs
esbuild.js
.vscode-test.mjs

# npm
node_modules/**

# git
.gitignore

# misc
.yarnrc
