# vscode ide config
.vscode/**

# vscode-test cache
.vscode-test/**

# build temporaries
out/**
**/*.map
**/*.ts
**/*.vsix

# sources
src/**

# tool config scripts
tsconfig.json
eslint.config.mjs
webpack.config.js

# test resources
test-workspace/**

# npm
node_modules/**

# git
.gitignore

# misc
.yarnrc
